body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #00ffff;
  }
  
 
  header {
    background-color: #000;
    color: #00ffff;
    padding: 20px;
    text-align: center;
  }
  

  main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  .search-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  #searchInput {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #00ffff;
    border-radius: 4px;
    background-color: #000;
    color: #00ffff;
    margin-right: 10px;
  }
  
  #searchButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #00ffff;
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
 
  #resultsList {
    padding: 50px;
    gap:20px;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 14%;
  }

  #result{
    text-align: center;
  }
  
  #resultsList li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #resultsList li button {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #00ffff;
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  

  #createPlaylistButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #00ffff;
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  #playlistNameInput {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #00ffff;
    border-radius: 4px;
    background-color: #000;
    color: #00ffff;
    margin-bottom: 10px;
  }
  
  #playlistSongs {
    list-style-type: none;
    padding: 0;
    width: 100%;
  }
  
  #playlistSongs li {
    margin-bottom: 10px;
  }
  
  #playButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #00ffff;
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  footer {
    background-color: #000;
    color: #00ffff;
    padding: 10px;
    text-align: center;
  }
  
 
  .listItems {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    position: relative; /* Ensure positioning context for absolute positioning of button */
    text-align: center; /* Center the content */
  }
  
  .listItems img {
    width: 200px; /* Enlarge the image size */
    height: 200px; /* Enlarge the image size */
    display: block;
    margin: 0 auto 10px; /* Center the image and add space below */
    cursor: pointer; /* Change cursor to pointer on hover */
  }
  
  .listItems h3 {
    margin: 0;
  }
  
  .listItems .listenButton {
    position: absolute;
    bottom: 10px; /* Adjust button position from bottom */
    left: 50%;
    transform: translateX(-50%); /* Center the button horizontally */
    text-decoration: none;
    color: #333;
    background-color: #f8f8f8;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .listItems .listenButton:hover {
    background-color: #e0e0e0;
  }
  






 
  

  @media screen and (min-width: 280px) and (max-width:480){
    .listItems{
      width: 35%;
      height: 155px;
      padding: 23px;
      margin-left: 434px;
      background-color: rgb(30, 28, 48);
      text-align: right;
    }
    
 
  }