body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #00ffff;
  }
  
 
  header {
    background-color: #000;
    color: #00ffff;
    padding: 20px;
    text-align: center;
  }
  

  main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  .search-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  #searchInput {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #00ffff;
    border-radius: 4px;
    background-color: #000;
    color: #00ffff;
    margin-right: 10px;
  }
  
  #searchButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #00ffff;
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
 
  #resultsList {
    padding: 50px;
    gap:20px;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 14%;
  }

  #result{
    text-align: center;
  }
  
  #resultsList li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #resultsList li button {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #00ffff;
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  

  #createPlaylistButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #00ffff;
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  #playlistNameInput {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #00ffff;
    border-radius: 4px;
    background-color: #000;
    color: #00ffff;
    margin-bottom: 10px;
  }
  
  #playlistSongs {
    list-style-type: none;
    padding: 0;
    width: 100%;
  }
  
  #playlistSongs li {
    margin-bottom: 10px;
  }
  
  #playButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #00ffff;
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  footer {
    background-color: #000;
    color: #00ffff;
    padding: 10px;
    text-align: center;
  }
  
 
  .listItems a{
    text-decoration: none;
    color: #00ffff;
  }

  .listItems{
    width: 10%;
    height: 80px;
    padding: 40px;
    background-color: rgb(30, 28, 48);
    text-align: center;
  }

  #searchSection{
    background-image: url('music.avif');
    background-size: cover;
    
  }

  @media screen and (min-width: 280px) and (max-width:480){
    .listItems{
      width: 35%;
      height: 155px;
      padding: 23px;
      margin-left: 434px;
      background-color: rgb(30, 28, 48);
      text-align: right;
    }
    
 
  }